<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lebensmittelverwaltung">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LebensmittelVerwaltung"
        >
        <activity
            android:name=".ui.einkaufsliste.EinkaufslisteProdukthinzufuegenDialog"
            android:exported="true" />
        <activity
            android:name=".ui.einkaufsliste.vorratsliste.VorratslisteProduktActivity"
            android:exported="true" />
        <activity
            android:name=".ui.einkaufsliste.vorratsliste.VorratProduktHinzufuegenDialog"
            android:exported="true" />
        <activity
            android:name=".ui.einkaufsliste.EinkaufslisteNeuerEinkaufDialog"
            android:exported="true" />
        <activity
            android:name=".EinkaufslisteProduktGekauft"
            android:exported="true" />
        <activity
            android:name=".ui.einkaufsliste.EinkaufslisteProduktActivity"
            android:exported="true" />
        <activity android:name=".ui.einkaufsliste.vorratsliste.VorratslisteActivity" />
        <activity android:name=".EinkaeufeActivity" />
        <activity android:name=".Einkaufsliste_ProduktActivity" />
        <activity
            android:name=".ui.einkaufsliste.EinkaufslisteActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>